:root {
  --brink-pink: #ff7d85;
}
.brink-pink-text {
  color: var(--brink-pink);
}

p {
  font-size: 15px;
}
* {
  box-sizing: border-box;
}
h2:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.2rem;
  width: 3rem;
  margin: auto;
  background: #ff7d85;
}
.tool_card {
  border: 0;
  border-radius: 20px;
  background: #b9fde6;
  height: 18rem;
}
.tool_card h6 {
  font-weight: 700;
}
.tool_card figure {
  margin-top: -4rem;
  height: 6.5rem;
}
.tool_card2 {
  background-color: #f9cffe;
}
.tool_card3 {
  background-color: #feecc3;
}
.tool_card4 {
  background-color: #c7fdcd;
}

@media only screen and (max-width: 768px) {
  .tool_card h6 {
    font-size: xx-large;
  }
  .tool_card h6 {
    font-size: xx-large;
  }
  .tool_card p {
    font-size: x-large;
  }
  .tool_card {
    height: auto;
    height: 21rem;
  }
}

@media only screen and (max-width: 540px) {
  /* .tool_card{
        height: 22rem;
    } */
}
