.box{
    /* background-color: red; */
    width: 45%;
    height: 5em;
    border-radius: 0.8em;
    margin-bottom: 1em;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:1.5em ;
}
.optioncolor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:1.5em ;
     
}