:root {
  --brink-pink: #ff7d85;
}
header {
  background-image: url("../../images/bg7.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.navList-color,
h1 {
  color: #013e5a !important;
}
.text-color {
  color: #72868a;
}
.brink-pink {
  background-color: var(--brink-pink);
  color: white;
}
.btn {
  border: none;
}
.btn-hover,
.btn2-hover {
  position: relative;
  z-index: 3;
  transition: 0.8s;
}
.btn-hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  border-radius: 0.25rem;
  background-color: var(--brink-pink);
  z-index: -1;
  transition: 0.8s;
}
.btn-hover:hover {
  color: white !important;
}
.btn-hover:hover::before {
  height: 100%;
}
.btn2-hover .btn-link {
  color: white;
  transition: 0.8s;
}
.btn2-hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--brink-pink);
  z-index: -1;
  transition: 0.8s;
}
.btn2-hover:hover:before {
  height: 0;
}
.btn2-hover:hover .btn-link {
  color: #013e5a !important;
}
@media only screen and (min-width: 576px) {
}
@media only screen and(min-width: 768px) {
}
