.pop-up {
  background-color: white;
  margin: 50px auto;
  height: auto;
  border-radius: 10px;
  max-width: 800px;
  min-width: 800px;
}
.css-1nvnyqx-MuiPaper-root-MuiDrawer-paper {
  background-color: transparent !important;
}
.checkListCard {
  max-width: 400px;
  min-width: 400px;
  min-height: 200px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  background-color: white;
}
.childCard {
  max-width: 400px;
  min-width: 400px;
  min-height: 200px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  right: 100px;
}
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}
.list-child {
  border-radius: 10px;
}
.clear-icon {
  z-index: 900;
}
.profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.msg-profile.group img {
  width: 100%;
  border-radius: 50%;
}
.msg-detail {
  overflow: hidden;
}
.mention-list {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
